.answerWrapper{
    display: flex;
    justify-content: space-around;
    gap: 2.5vw;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #DBDEF0;
    
}

.answer{
    border-radius: 10px;
    padding: 2px  8px;
    border: 1px solid #293264;
    
}

.btn{
    background-color: #4D5B9E ;
    color: rgb(252, 249, 249);
}

.footerWrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link{
    color: #DBDEF0;
    font-weight: 900;
}

.itemsWrapper{
    padding-left: 20px;
    padding-right: 20px;
}
